h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    margin-right: 50px;
    margin-bottom: auto;
    align-self: center;
    font-weight: bolder;
}
  
  .item-list-container {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 50px;
    margin-top: 20px;
  }
  
  .categorias-container {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  .categorias {
    margin-left: 10px;
    text-transform: capitalize;
    font-weight: bold;
  }
  
.line {
    width: 350px;
    background-color: #A9C526;
    border-bottom: 3px solid #A9C526;
    margin-bottom: 30px;
    margin-right: 50px;
    margin-top: 10px;
    align-self: flex-start;
  }

.container-productos {
    margin-top: 10px;
    margin-bottom: 20px;
}